{% extends "base.html" %}
{% block content %}
<h5>出库记录</h5>
<a href="/export/out" class="btn btn-success btn-sm mb-2">导出Excel</a><hr>
<div class="card p-3 mb-3">
<form method="post" action="/out/add" class="row g-2">
<div class="col-md-2">
<select class="form-select" name="goods_id">
{% for g in goods %}<option value="{{g.id}}">{{g.name}}</option>{% endfor %}
</select>
</div>
<div class="col-md-2">
<select class="form-select" name="warehouse_id">
{% for w in wares %}<option value="{{w.id}}">{{w.name}}</option>{% endfor %}
</select>
</div>
<div class="col-md-1"><input class="form-control" name="num" placeholder="数量"></div>
<div class="col-md-1"><input class="form-control" name="sale_price" placeholder="售价"></div>
<div class="col-md-3"><input class="form-control" name="user" placeholder="领用人"></div>
<div class="col-md-3"><button class="btn btn-danger">出库</button></div>
</form>
</div>
<table class="table table-sm">
<tr><th>商品</th><th>数量</th><th>成本</th><th>售价</th><th>利润</th><th>时间</th></tr>
{% for r in records %}
<tr>
<td>{{r.goods.name}}</td>
<td>{{r.num}}</td>
<td>{{r.total}}</td>
<td>{{r.sale_total}}</td>
<td>{{r.profit}}</td>
<td>{{r.create_time}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}