{% extends "base.html" %}
{% block content %}
<h5>角色权限</h5><hr>
{% for r in roles %}
<div class="card mb-3">
<div class="card-header">{{r.name}}</div>
<div class="card-body">
<form method="post" action="/role/save">
<input type="hidden" name="role_id" value="{{r.id}}">
<div class="row">
{% for p in perms %}
<div class="col-6 col-md-3">
<input type="checkbox" name="perms" value="{{p.code}}"
{% if p.code in r.permissions.split(',') %}checked{% endif %}>
{{p.name}}
</div>
{% endfor %}
</div>
<button class="btn btn-sm btn-primary mt-3">保存权限</button>
</form>
</div>
</div>
{% endfor %}
{% endblock %}