{% extends "base.html" %}
{% block content %}
<h5>用户管理</h5><hr>
<div class="card p-3 mb-3">
<form method="post" action="/user/add" class="row g-2">
<div class="col-md-3"><input class="form-control" name="username" placeholder="账号"></div>
<div class="col-md-3"><input class="form-control" name="password" placeholder="密码"></div>
<div class="col-md-3">
<select class="form-select" name="role_id">
{% for r in roles %}<option value="{{r.id}}">{{r.name}}</option>{% endfor %}
</select>
</div>
<div class="col-md-3"><button class="btn btn-primary">添加</button></div>
</form>
</div>
<table class="table table-sm">
<tr><th>用户</th><th>角色</th><th>操作</th></tr>
{% for u in users %}
<tr><td>{{u.username}}</td><td>{{u.role.name}}</td>
<td>{% if u.username != 'admin' %}
<a href="/user/del/{{u.id}}" class="btn btn-sm btn-danger">删</a>{% endif %}</td></tr>
{% endfor %}
</table>
{% endblock %}