{% extends "base.html" %}
{% block content %}
<h5>仓库管理</h5><hr>
<div class="card p-3 mb-3">
<form method="post" action="/warehouse/add" class="row g-2">
<div class="col-md-5"><input class="form-control" name="name" placeholder="仓库名"></div>
<div class="col-md-5"><input class="form-control" name="remark" placeholder="备注"></div>
<div class="col-md-2"><button class="btn btn-primary">添加</button></div>
</form>
</div>
<table class="table">
{% for w in wares %}
<tr><td>{{w.name}}</td><td>{{w.remark}}</td></tr>
{% endfor %}
</table>
{% endblock %}